body {
    margin: 0;
}

.keyboard table {
    width: 100%;
    font-family: monospace, sans-serif;
    font-size: 3vw;
    color: white;
}

.keyboard table td {
    text-align: center;
    padding: 5px;
    background: #2E2E2E;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.hover {
    -moz-transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
    transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
}

.keydown {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.capsLockOn {
    color: lawngreen;
}

.uppercase {
    text-transform: uppercase;
}

.on {
    display: none;
}

.off {
    display: block;
}

@media screen and (min-width: 640px) {
    .keyboard table {
        font-size: 1.5vw;
    }
    .keyboard table td {
        padding: 10px 15px;
        border: 1px solid white;
    }
}

#keyboardtarget {
    width: 100%;
    height: 100px;
}

.text-container {
    margin: 10px;
}