body {
    margin: 0;
}

.keyboard table {
    width: 100%;
    font-family: monospace, sans-serif;
    font-size: 3vw;
    color: white;
}

.keyboard table td {
    text-align: center;
    padding: 5px;
    background: #2E2E2E;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.hover {
    -moz-transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
    transform: scale(1) rotate(0deg) translate(1px, -1px) skew(0deg, 0deg);
}

.clicked {
    -moz-transform: translate(-1px, 1px);
    -webkit-transform: translate(-1px, 1px);
    -o-transform: translate(-1px, 1px);
    -ms-transform: translate(-1px, 1px);
    transform: translate(-1px, 1px);
}

.on {
    display: none;
}

.off {
    display: block;
}

@media screen and (min-width: 640px) {
    .keyboard table {
        font-size: 2vw;
    }
    .keyboard table td {
        padding: 10px 15px;
        border: 1px solid white;
    }
}